<link rel="stylesheet" href="/static/css/sideNav.css">
<div class="sidenav_container ps-4 mt-3">
    <h5>Topic Tag</h5>
    <div class="topic_tag" id="topic_tag">

    </div>

    <script src="/static/js/side_nav.js"></script>
</div>